<div>
<a href="/"><h1 align="center">Invoices Links</h1></a>
  
 <button onclick="location.href='/'" class="col-xs-3">
          Back to Main Menu
        </button>
        <button onclick="location.href='/add_customers'" class="col-xs-3">
          Add Customer
        </button>
        <button onclick="location.href='/add_events'" class="col-xs-3">
          Add events
        </button>
     
</div>

      
  		<thead>
      		<tr>
      			<th class="col-md-3"><a href="image/Yukl_Ch2_Unit1.pdf"><h1>NF2345</h1></a></th>
            <th class="col-md-3"><a href="image/Margolis.pdf"><h1>22335</h1></a></th>
            <th class="col-md-3"><a href="image/Bennis.pdf"><h1>22335</h1></a></th>
            <th class="col-md-3"><a href="image/815-827-1-PB.pdf"><h1>NF2345</h1></a></th>
            <th class="col-md-3"><a href="image/transformative_leadership_-_bass.pdf"></a></th>
            <th class="col-md-3"><a href="image/transformative.pdf"></a></th>
            <th class="col-md-3"><a href="image/Yukl_Ch2_Unit1.pdf"></a></th>

    		</tr>
  		</thead>
		
</table>
</div>
<div>