<!doctype html>
<html id="main">
<head>
    <title>EMWC</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styleSheet.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body class="bdy">
<header id="Hmain">
        <!--button><a href="/admin_panel">Admin Setting</a></button-->
        <h1>Admin Panel</h1>
</header>

<div id="empt"></div>

<div class="container-fluid">

    <nav>
    <div class="row">
      <div class="col-md-4"><h2><a href="/customers">Customer</a></h2></div>
      <div class="col-md-4"><h2><a href="/login">Products</a></h2></div>
      <div class="col-md-4"><h2><a href="/login">Invoices</a></h2></div>
    </div>
    </nav>
</div>
</body>
</html>