<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3>contact Us</h3>
    <img src="../image/phpThumb (3).jpg" alt="">
   </div>

   <div class="imag1">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/phpThumb (4).jpg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/-aEYGDlDixJyftIAtm1fjimguzmY6aZrCR22LtwLKdqq9ZJfI-zb_ecNPFhcl53sw16_AjdaJbcDlKQRBzmd4g0SWhY3HpuFrwkozrp1=w361-h327-nc.png" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/As_R5-571T_preview.png" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/OriginalPng.png" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/AspireSwitch10_SW5-012_sku-preview.png" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-1.jpeg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/images-8.jpeg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Order Special</a></h3>
    <a href="/myStore"><img src="../image/phpThumb (4).jpg" alt=""></a>
   </div>
</div>

<div class="container">
  <div class="imag">
    <h3>contact Us</h3>
    <img src="../image/Aspire-S13-Black-glare-preview.png" alt="">
   </div>

   <div class="imag1">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/download.jpg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/phpThumb.jpg" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/acclaptop.jpg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/phpThumb (1).jpg" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/phpThumb (2).jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/phpThumb (5).jpg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/laptop-inspiron-15-3552_169x149.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Order Special</a></h3>
    <a href="/myStore"><img src="../image/img_1612.jpg" alt=""></a>
   </div>
</div>